@import url('https://fonts.googleapis.com/css2? family= Hind+Siliguri:wght@300 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#Menu{
    list-style:none;
    padding: 0;
    background-color: #9DB0DA;
    font-family: Hind, Siliguri;
}

#Menu li{
    display: inline;
}

#Menu li a{
    color: black;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    
}
#Menu-login{
    font-weight: bold;
    margin-left: 768px;
}

#Menu li a:hover{
    background-color: rgb(64, 83, 168);
}
#título{
    background: url(@_FASE-VERDE_OSASCO-850x560.jpg) rgba(256, 256, 256, 0.5);
    background-size: cover;
    height: 40em;
    color: black;
    background-blend-mode: lighten;
    
}
#título>h1{
    text-align: center;
    padding-top: 200px;
    font-size: 150px;
}

#título>h2{
    text-align: center;
    font-size: 50px;
}

#Texto {
    font-family:'Times New Roman', Times, serif; 
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}


.box {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

iframe{
    margin-left: 440px;
}


#creator {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    height:220px;
}

#roda-pe {
    top: 40px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color:  rgb(113, 128, 194);
    
}

#instagram-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 350px;
}

#txt-instagram {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    position:absolute;
    left: 420px;
    top: 80px;

}#txt-instagram:hover {
    text-decoration: underline;
}

#twitter {
    width: 58px;
    height: 58px;
    position: absolute;
    top: 170px;
    left: 345px;
}

#txt-twitter {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    position:absolute;
    left: 420px;
    top: 180px;
}
#txt-twitter:hover {
    text-decoration: underline;
}

#facebook {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 270px;
    left: 350px;
}

#txt-face{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    position:absolute;
    left: 418px;
    top: 280px;
}
#facebook:hover {
    text-decoration: underline;
}

#Objetivo {
    font-size: 35px;
    font-family: inter;
    font-weight: bold;
    position:absolute;
    left: 850px;
    top: 100px;
    color:black;
}

#obj {
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 700px;
    top: 160px;
    color:black;
    width: 550px;
}

.Indice{
    width: 100px;
    height: 100px;
    display: inline-block;
}
#div1 {
    background-color: magenta;    
}
#div2 {
    background-color: teal;
}