@import url('https://fonts.googleapis.com/css2? family= Hind+Siliguri:wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(45deg, #8097e2, #4750d1);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

main.container{
    background-color: white;
    max-width: 350px;
    min-height: 60vh;
    padding: 2rem;
    line-height: 30px;
    border-radius: 8px;
}

main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position:relative; 
}

main h2::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 1px;
    left: 0px;
    border-radius:8px ;
    background: linear-gradient(45deg, #8097e2, #4750d1);
}

.input-field{
    position: relative;
}

.input-field input{
    outline: none;
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.7); 
}

.input-field input::placeholder{
    color:rgba(0, 0, 0, 0.5); 
}

form{
    display: flex;
    flex-direction: column;
}

.input{
    position: relative;
    line-height: 1.5rem;
    
}

.input input {
    outline: none;
    font-size: 1rem; 
    line-height: 5px;
}

form input[type="submit"]{
    margin-top: 2rem;
    padding: 0.5rem;
    background: linear-gradient(to left, #8097e2, #4750d1);
    font-size: 1rem;
    cursor:pointer;
    font-weight: 300;
    border-radius: 4px;

}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span{
    text-align: center;
    font-size: 0.75rem;
}

.footer .social-field{
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
}

.footer .social-fields a{
    text-decoration: none;
    color: black;
   

}

.footer .social-fields .instagram{
    background: linear-gradient(to left, #ca82f3, #4750d1);
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
}

.footer .social-fields .twitter{
    background: linear-gradient(to left, #8097e2, #4750d1);
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1rem;
}

.footer .social-fields .facebook{
    background: linear-gradient(to left, #ca88bc, #4750d1);
    font-size: 0.9rem;
    text-align: center;
}
